{{ define "main" }}
{{- $filename := .File.LogicalName | default (printf "%s.md" (.Title | urlize)) -}}
{{- $lineCount := len (split .RawContent "\n") -}}
<div class="vim-wrapper">
{{/* Vim Window */}}
<div class="vim-window">
{{/* Content Area - No line numbers for rendered content */}}
<div class="vim-text-area">
{{/* File header - Title */}}
<div class="vim-line-row vim-title">
    <span class="vim-comment">// {{ .Title }}</span>
</div>
<div class="vim-line-row">
    <span class="vim-comment">// {{ T "author_label" }}: {{ site.Params.author.name }}</span>
</div>
<div class="vim-line-row">
    <span class="vim-comment">// {{ T "date_label" }}: {{ .Date.Format "2006-01-02" }}</span>
</div>
<div class="vim-line-row">
    <span class="vim-comment">// {{ T "read_time" .ReadingTime }}</span>
</div>
<div class="vim-line-row vim-empty"></div>
{{/* Content */}}
<div class="vim-content-body">{{ .Content }}</div>
{{/* Empty lines at end (like vim buffer) */}}
<div class="vim-tilde-section">
    <div class="vim-line-row vim-tilde">~</div>
    <div class="vim-line-row vim-tilde">~</div>
    <div class="vim-line-row vim-tilde">~</div>
</div>
</div>
{{/* Status Line */}}
<div class="vim-status">
    <div class="vim-status-left">
        <span class="vim-status-mode">NORMAL</span>
        <span class="vim-status-file">{{ $filename }}</span>
        <span class="vim-status-modified"></span>
    </div>
    <div class="vim-status-right">
        <span>{{ .WordCount }} words</span>
        <span class="vim-status-sep">│</span>
        <span>utf-8</span>
        <span class="vim-status-sep">│</span>
        <span>markdown</span>
        <span class="vim-status-sep">│</span>
        <span>1:1</span>
    </div>
</div>
{{/* Command Line */}}
<div class="vim-cmdline">
    <span class="vim-cmd-text">"{{ $filename }}" {{ $lineCount }}L, {{ len .RawContent }}B</span>
</div>
</div>
</div>
{{ end }}
